.main {
  box-sizing: border-box;
  width: 340px;
  margin: 70px auto 0 auto;
  padding: 20px;
  background: #2b2d2e;
  border-radius: 10px;
}

.form {
  width: 300px;
  margin: 0 auto;
}

.home {
  position: fixed;
  left: 30px;
  top: 30px;
}
