<div class="avatar">
  <img [src]="imagePreview" alt="avatar" />
</div>

<input
  type="file"
  accept="image/png, image/jpeg"
  class="input_file"
  (change)="selectFile($event)"
  #input
/>

<button
  tuiButton
  type="button"
  appearance="outline"
  size="m"
  class="tui-space_right-3"
  (click)="openInput()"
>
  Выбрать изображение
</button>
<p>
  <button
    tuiButton
    type="button"
    size="m"
    class="tui-space_right-3"
    [showLoader]="loader"
    (click)="saveAvatar()"
  >
    Сохранить
  </button>
</p>
