<div class="nav">
  <button tuiButton appearance="outline" (click)="goSignUp()">sign Up</button>
  <button tuiButton appearance="accent" (click)="goLogin()">login</button>
</div>

<br />
<div class="title">
  <div class="header">
    <h1 class="tui-text_h1">Totem - классный сервис для твоих контактов</h1>
    <h6 class="tui-text_h6">
      Одна ссылка, которая поможет вам делиться всем, что вы создаете и
      продаете, объединяет профили в Instagram, TikTok, Twitter, YouTube и
      других социальных сетях.
    </h6>
  </div>

  <ng-lottie class="lottie" [options]="options"></ng-lottie>
</div>
